.main-pos-container {
  min-height: 100vh;
  background-color: #d1d5db; /* Gray-300 equivalent */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.main-container {
  background-color: #d9d9d9;
  color: white;
  padding: 2rem 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 440px;
  border-radius: 0.375rem;
  height: 95vh;
}

.menu-pos-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.pos-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 36px;
  width: 400px;
  height: 70px;
  border-radius: 60px;
  color: #03454f;
  background-color: #ffffff;
}

.add-member-container {
  margin-bottom: 10 0px;
}

.pos-nav {
  display: flex; /* ⬅️ horizontal */
  flex-direction: row; /* ⬅️ explicit row */
  align-items: center;
  list-style: none; /* remove bullets */
  gap: 20px;
  padding: 4px;
  margin: 0;
  background-color: none;
}

.pos-nav button {
  width: 100%;
  background: transparent;
  color: #04354f;
  font-weight: 500;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.pos-nav button[data-active="true"] {
  background: #e9f3ff;
  color: #0085c9;
  height: 50px;
  border-radius: 25px;
}

.pos-nav li {
  display: flex;
}

.pos-nav button {
  transition:
    background 0.2s ease,
    color 0.2s ease;
}

.qr .pos-container h3,
.qr .status-container h3 {
  font-size: 16px;
}

.qr .qr-container h3 {
  font-size: 20px;
  color: #0084c9;
}

h3 {
  cursor: pointer;
}
